.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: var(--text);
  font-size: 16px;
  font-weight: 500;
  transition: color var(--tra);
}

.link:hover {
  color: var(--main);
}
